<div class="heading">
  <div class="search_box">
    <input type="text" placeholder="search_box">
  </div>
</div>


<div class="postings">
  <div class="main_body">
    <div class="posts">
      <!-- <= image_tag 'slack-logo.png' > -->
      <!-- <img src="slack-logo.png" alt="slack-logo"> -->

      <% @posts.each do |post| %>
          <div class="indivposts">
            <ul>

 

                <li><h5><%= link_to post.title, post_path(post) %></h5></li>
                <li><%= post.comment %></li>
            </ul>
          </div>
         <div class="former">
                <%= render 'form', post: post %>
            </div>
            
          
      <% end %> 
            
    </div>
      
          <div class="former">
            
                <%= render 'form', post: @post %>
             
          </div>
         
  </div>
</div>
<!-- <div class="image">
  <img src="test_picture.png" alt="Image will appear here">
</div> -->


